!
!
!    '\ // ||''. ||''| //''\  //\  ||  | ||''.  //'. ||''| //''\
!      X/  ||-+' ||-   ``--. ||  | ||  | ||-+' ||    ||-   ``--.
!  o _//\_ ||  \ ||__| \\__/  \\/  `\__' ||  \  \\_/ ||__| \\__/
!
!

! ---
! Colors
! ---

! Import colors
#include ".config/colours/gruvbox"


! ---
! URxvt
! ---

URxvt*perl-ext-common: default,matcher,vtwheel,clipboard
URxvt.font: xft:scientifica:size=9
URxvt.letterSpace: +1
URxvt.scrollBar: false
URxvt*buffered: false
URxvt*iso14755: false
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.internalBorder: 25
URxvt.cursorUnderline: 1
URxvt.fading: 0

! ---
! Rofi
! ---

rofi.font: scientifica 9
! Rofi colours: bg, border
rofi.color-window: #282828, #EBDBB2
! Rofi colours: bg, fg, bgalt, hlbg, hlfg
rofi.color-normal: #282828, #EBDBB2, #282828, #32302f, #EBDBB2
rofi.height: 10
rofi.width: 20
rofi.padding: 15 
rofi.separator-style: none
rofi.hide-scrollbar: true
rofi.lines: 10
rofi.line-padding: 4
rofi.bw: 4
